.khungDN{
  width: 100%;
  font-family: Arial, sans-serif;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin-bottom: 7%;

  
}
.khungDN .background-image{

  position: relative;
  height: 600px;
  width: 100%;
  background-image: url('../image/banner2.png');
  background-size: cover;
  background-position: center;
  opacity: 0.2;
  margin-bottom: -7%;
}
.dangnhap{
  position: absolute;
  top: 10%;
  width: 300px;
  padding: 20px;
  border: 1px solid #ffffff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: 40px 0;
  background-color: #ffffff;
}

input {
  padding: 8px 25px;
  margin: 5px;
}
.cachDN button{
  padding: 8px 20px;
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  cursor: pointer;
  margin: 10px;
  border: 1px solid black;
  width: 250px;
}
button {
  padding: 8px 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
  margin: 10px;
}

.fa {
  margin-right: 5px;
}
