# RewriteEngine On  

# # Bảo vệ các thư mục cụ thể  
# RewriteRule ^controllers/ - [F]  
# RewriteRule ^models/ - [F]  
# RewriteRule ^views/ - [F]  
# RewriteRule ^init/ - [F]  

# # Chuyển hướng cho URL không có đuôi file  
# RewriteCond %{REQUEST_FILENAME} !-f  
# RewriteCond %{REQUEST_FILENAME} !-d  
# RewriteRule ^([^/]+)$ index.php?action=\$1 [L,QSA]  
# RewriteRule ^([^/]+)/([^/]+)$ index.php?action=\$1&id=\$2 [L,QSA]  