body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 50px;
  }
  header{
    width: 10%;
    height: auto;
    margin: 5px;
    float: left;
    background-color:#ff8000;
  }
  article{
    width: 90%;
    height: auto;
    margin: 5px;
    float: left;
    
}
  .search-container {
    position: relative;
    width: 40%;
    margin: auto;
    display: flex; /* Dùng Flexbox để sắp xếp các phần tử */
    margin-left:40%;
  }
  
  .search-input {
    flex: 1; /* Thanh tìm kiếm chiếm hết không gian còn lại */
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px 0 0 5px; /* Viền cong bên trái */
    outline: none;
  }
  
  .search-button {
    padding: 5px 20px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-left: none; /* Loại bỏ viền trùng giữa input và button */
    border-radius: 0 5px 5px 0; /* Viền cong bên phải */
    background-color: #ff8000;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .search-button:hover {
    background-color: #0056b3; /* Hiệu ứng khi hover */
  }
  
