.sp-in{
    width: 1290px;
    height: auto;  
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 20px;
    padding: 10px; 
    margin-left: 100px;
}
.sp-in .form input {
    width: 80%;
    height: 40px;
    padding: auto;
    margin-bottom: 20px;
}
.sp-in .form input::placeholder {  
    color: #888; 
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    padding: 10px;
}
.sp-in .form .tensp{
    font-size: 32px;
    margin-bottom: 50px;
    font-family: 'Poppins', sans-serif;
   
}
.sp-in .form{
    margin-left: 10%;
    font-family: 'Montserrat', 'Raleway', 'Lato', 'Rubik', sans-serif;
}

.sp-in .form .kichco{
    float: left;
    padding: 15px;
    width: 20px;

}
.sp-in .form .tgh{
    margin-top: 20px;
    width: 80%;
    background-color: orange;
    border: none;
}

.sp-in .form .price{
    font-size: 18px;
}

.sp-in .form  button{
    width: 100px;
    height: 40px;
    padding: auto;
}

.sp-in .image {  
    
    position: relative; /* Thiết lập vị trí cho cha */  
    display: inline-block; /* Cho phép định dạng như một khối nhỏ */  
}  

.sp-in  .image img {  
    display: block; /* Đảm bảo không có khoảng cách dưới hình ảnh */  
    width: 110%; /* Đảm bảo hình ảnh chiếm toàn bộ chiều rộng của div */  
    height: auto; /* Cân bằng chiều cao theo tỷ lệ hình ảnh */  
}  

.sp-in  .text-nhan, .number-nhan {  
    position: absolute; /* Định vị tuyệt đối so với div cha (image) */  
    color: white; /* Màu chữ */  
    text-align: center; /* Canh giữa chữ */  
    width: 100%; /* Chiếm toàn bộ chiều rộng của div cha */  
   
}  

.sp-in .text-nhan {  
    top: 12%; /* Độ cao từ trên xuống */  
    font-size: 45px; /* Kích thước chữ */  
    font-weight: bold; /* Làm đậm chữ */  
    font-variant: small-caps;
    left: -10px;
    color: white; /* Màu chữ trắng để nổi bật trên nền tối */  
    text-shadow: 0 4px 10px rgba(0, 0, 0, 0.8); /* Thêm bóng chữ */ 
    font-family: 'Poppins', sans-serif;  
}  

.sp-in  .number-nhan {  

    top: 15%; /* Độ cao từ đáy lên */  
    left: -0px; /* Dịch trái */  
    font-size: 250px; /* Kích thước chữ cho số */  
    font-weight: bold; /* Làm đậm chữ */  
    font-family:'Times New Roman', Times, serif; 
    font-stretch:narrower;
    letter-spacing: -15px;
    color: white; /* Màu chữ trắng để nổi bật trên nền tối */  
    text-shadow: 0 4px 10px rgba(0, 0, 0, 0.8); /* Thêm bóng chữ */  
    font-family: 'Poppins', sans-serif;  
}