<!DOCTYPE html>  
<html lang="vi">  
<head>  
    <meta charset="UTF-8">  
    <meta name="viewport" content="width=device-width, initial-scale=1.0">  
    <title>Trang Chủ</title>  
    <link rel="stylesheet" href="../public/css/style.css">
    <link
        href="https://fonts.googleapis.com/css2?family=Poppins&family=Montserrat&family=Raleway&family=Lato&family=Rubik&display=swap"
        rel="stylesheet">
    <link
        href="https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto&family=Nunito&family=Source+Sans+Pro&family=Josefin+Sans&display=swap"
        rel="stylesheet">
    <link
        href="https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto&family=Nunito&family=Source+Sans+Pro&family=Josefin+Sans&display=swap"
        rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
     
</head>  
<body>  
    <header>
        <!-- menu phu -->
          <nav class="menu-one">
            <ul>
              <li>VSSport.vn</li>
                  <div>
                  <li>Giúp đỡ</li>
                  <li>Ngôn ngữ</li>
                  </div>
            </ul>
          </nav>
          <!-- menu chinh -->
          <nav class="menu-two">
              <img src="../public/image/logo.png" alt="" style="width: 155px ;">
            <ul>
              <li>TRANG CHỦ</li>
              <li>SẢN PHẨM</li>
              <li>THÔNG TIN</li>
              <li>ĐĂNG KÝ</li>
              <li>ĐĂNG NHẬP</li>
            </ul>
            <!-- icon bao gom "shoping" "user" "seach" -->
            <div class="icon">
              <a href=""><i class="fa-solid fa-cart-shopping"></i></a>
              <a href="#"><i class="fa-solid fa-user"></i></a>
              <a href=""><i class="fa-solid fa-magnifying-glass"></i></a>
            </div>
      
          </nav>
   
            <img src="" alt="">
          </section>
          <section class="banner">
            <div class="slides" id="slides">
                <div class="slide"><img src="../public/image/banner1.png" alt="Hình ảnh 1"></div>
                <div class="slide"><img src="../public/image/banner2.png" alt="Hình ảnh 2"></div>
          </section>
        </header>
        <div class="web-Sp-container">
          <nav class="filter-container">  
            <h3>BỘ LỌC TÌM KIẾM</h3>  
            
            <div class="filter-section">  
              <h4>Loại sản phẩm</h4>  
              <div class="price-filter">  
                  <input type="checkbox" id="price1" value="0-200">  
                  <label for="price1">Áo bóng đá</label>  
              </div>  
              <div class="price-filter">  
                  <input type="checkbox" id="price2" value="200-500">  
                  <label for="price2">Giày thể thao</label>  
              </div>  
              <div class="price-filter">  
                  <input type="checkbox" id="price3" value="500-700">  
                  <label for="price3">Đồ bộ</label>  
              </div> 
              <div class="price-filter">  
                <input type="checkbox" id="price3" value="500-700">  
                <label for="price3">Quần thể thao</label>  
            </div> 
            </div>  
        
            <div class="filter-section">  
              <h4>Giá tiền từ</h4>  
                <div class="price-filter">  
                    <input type="checkbox" id="price1" value="0-200">  
                    <label for="price1">0 - 200k</label>  
                </div>  
                <div class="price-filter">  
                    <input type="checkbox" id="price2" value="200-500">  
                    <label for="price2">200k - 500k</label>  
                </div>  
                <div class="price-filter">  
                    <input type="checkbox" id="price3" value="500-700">  
                    <label for="price3">500k - 700k</label>  
                </div>  
                <div class="price-filter">  
                    <input type="checkbox" id="price4" value="1000">  
                    <label for="price4">1 Triệu</label>  
                </div>  
            </div>  
        
            <div class="filter-section">  
              <h4>Áo đội tuyển</h4> 
                <div class="price-filter">  
                  <input type="checkbox" id="price1" value="0-200">  
                  <label for="price1">Mu</label>  
              </div>  
              <div class="price-filter">  
                  <input type="checkbox" id="price2" value="200-500">  
                  <label for="price2">Barcelona</label>  
              </div>  
              <div class="price-filter">  
                  <input type="checkbox" id="price3" value="500-700">  
                  <label for="price3">Real Madrid</label>  
              </div>  
              <div class="price-filter">  
                  <input type="checkbox" id="price4" value="1000">  
                  <label for="price4">Juventus</label>  
              </div>  
            </div>  
          </nav>
          <Section id="san-pham-WebSp-section">
           
              <div class="san-pham-WebSp">
                <a href="chi-tiet-san-pham.html" class="san-pham-WebSp-link">

                  <img src="../../public/image/mc-red-trc.png" alt="Áo đấu Manchester United" class="san-pham-WebSp-../public/image" />
                </a>
                <div class="circle">
                  <a href="">
                      <i class="fa-solid fa-heart"></i>
                  </a>
              </div>
                <div class="san-pham-WebSp-info">
                  <button class="san-pham-WebSp-button">Thêm vào giỏ hàng</button>
                </div>
                  <p class="san-pham-WebSp-name">Áo đấu Manchester United</p>
                  <p class="san-pham-WebSp-price">300,000đ</p>
              </div>

             
              <div class="san-pham-WebSp">
                <a href="chi-tiet-san-pham.html" class="san-pham-WebSp-link">

                  <img src="../../public/image/mc-red-trc.png" alt="Áo đấu Manchester United" class="san-pham-WebSp-../public/image" />
                </a>
                <div class="circle">
                  <a href="">
                      <i class="fa-solid fa-heart"></i>
                  </a>
              </div>
                <div class="san-pham-WebSp-info">
                  <button class="san-pham-WebSp-button">Thêm vào giỏ hàng</button>
                </div>
                  <p class="san-pham-WebSp-name">Áo đấu Manchester United</p>
                  <p class="san-pham-WebSp-price">300,000đ</p>
              </div>
              
              <div class="san-pham-WebSp">
                <a href="chi-tiet-san-pham.html" class="san-pham-WebSp-link">

                  <img src="../../public/image/mc-red-trc.png" alt="Áo đấu Manchester United" class="san-pham-WebSp-../public/image" />
                </a>
                <div class="circle">
                  <a href="">
                      <i class="fa-solid fa-heart"></i>
                  </a>
              </div>
                <div class="san-pham-WebSp-info">
                  <button class="san-pham-WebSp-button">Thêm vào giỏ hàng</button>
                </div>
                  <p class="san-pham-WebSp-name">Áo đấu Manchester United</p>
                  <p class="san-pham-WebSp-price">300,000đ</p>
              </div>
              
              <div class="san-pham-WebSp">
                <a href="chi-tiet-san-pham.html" class="san-pham-WebSp-link">

                  <img src="../../public/image/mc-red-trc.png" alt="Áo đấu Manchester United" class="san-pham-WebSp-../public/image" />
                </a>
                <div class="circle">
                  <a href="">
                      <i class="fa-solid fa-heart"></i>
                  </a>
              </div>
                <div class="san-pham-WebSp-info">
                  <button class="san-pham-WebSp-button">Thêm vào giỏ hàng</button>
                </div>
                  <p class="san-pham-WebSp-name">Áo đấu Manchester United</p>
                  <p class="san-pham-WebSp-price">300,000đ</p>
              </div>
              
              <div class="san-pham-WebSp">
                <a href="chi-tiet-san-pham.html" class="san-pham-WebSp-link">

                  <img src="../../public/image/mc-red-trc.png" alt="Áo đấu Manchester United" class="san-pham-WebSp-../public/image" />
                </a>
                <div class="circle">
                  <a href="">
                      <i class="fa-solid fa-heart"></i>
                  </a>
              </div>
                <div class="san-pham-WebSp-info">
                  <button class="san-pham-WebSp-button">Thêm vào giỏ hàng</button>
                </div>
                  <p class="san-pham-WebSp-name">Áo đấu Manchester United</p>
                  <p class="san-pham-WebSp-price">300,000đ</p>
              </div>
              
              <div class="san-pham-WebSp">
                <a href="chi-tiet-san-pham.html" class="san-pham-WebSp-link">

                  <img src="../../public/image/mc-red-trc.png" alt="Áo đấu Manchester United" class="san-pham-WebSp-../public/image" />
                </a>
                <div class="circle">
                  <a href="">
                      <i class="fa-solid fa-heart"></i>
                  </a>
              </div>
                <div class="san-pham-WebSp-info">
                  <button class="san-pham-WebSp-button">Thêm vào giỏ hàng</button>
                </div>
                  <p class="san-pham-WebSp-name">Áo đấu Manchester United</p>
                  <p class="san-pham-WebSp-price">300,000đ</p>
              </div>
              <div class="san-pham-WebSp">
                <a href="chi-tiet-san-pham.html" class="san-pham-WebSp-link">

                  <img src="../../public/image/mc-red-trc.png" alt="Áo đấu Manchester United" class="san-pham-WebSp-../public/image" />
                </a>
                <div class="circle">
                  <a href="">
                      <i class="fa-solid fa-heart"></i>
                  </a>
              </div>
                <div class="san-pham-WebSp-info">
                  <button class="san-pham-WebSp-button">Thêm vào giỏ hàng</button>
                </div>
                  <p class="san-pham-WebSp-name">Áo đấu Manchester United</p>
                  <p class="san-pham-WebSp-price">300,000đ</p>
              </div>
              <div class="san-pham-WebSp">
                <a href="chi-tiet-san-pham.html" class="san-pham-WebSp-link">

                  <img src="../../public/image/mc-red-trc.png" alt="Áo đấu Manchester United" class="san-pham-WebSp-../public/image" />
                </a>
                <div class="circle">
                  <a href="">
                      <i class="fa-solid fa-heart"></i>
                  </a>
              </div>
                <div class="san-pham-WebSp-info">
                  <button class="san-pham-WebSp-button">Thêm vào giỏ hàng</button>
                </div>
                  <p class="san-pham-WebSp-name">Áo đấu Manchester United</p>
                  <p class="san-pham-WebSp-price">300,000đ</p>
              </div>
              
           
          </Section>
        </div> 
    <script src="../js/javascrip.js">

    </script>
    <footer>
        <div class="footer-column-left">
            <h3>Liên hệ</h3>
            <hr>
            <h3>Hotline: </h3>
            <p>(+84)098765432</p>
            <h3>Email: </h3>
            <p>support@gmail.com</p>
            <h3>Thời gian làm việc</h3>
            <p>06:00 - 18:00 hằng ngày</p>
        </div>
        <div class="footer-column-left">
            
        </div>
        <div class="footer-column-right">
            <h3>Theo dõi tại</h3>
            <hr>
            <a href="#">Facebook</a><br>
            <a href="#">Twitter</a><br>
            <a href="#">Youtube</a><br>
            <a href="#">Instagram</a><br>

        </div>
    </footer>
</body>  
</html>